$body-bg: #ebedef;
$txt-dark: #343434;
$txt-dark-70: rgba(52, 52, 52, 0.7);
$txt-dark-50: rgba(52, 52, 52, 0.5);

$black: #000000;
$blue: #4141e4;
$purple: #9c27b0;
$blue-dark: #2323c9;
$white: #ffffff;
