$body-bg: #ebedef;
$txt-dark: #343434;

$txt-dark-70: rgba(52, 52, 52, 0.7);
$txt-dark-50: rgba(52, 52, 52, 0.5);

$black: #000000;
$blue: #4141e4;
$orange: #ff9800;
$white: #ffffff;

$blue-dark: #2323c9;

$desktop-width: 1280px;
$tablet-width: 540.8px;
