@use "../../sass/mixins" as *;
@import "../../sass/_variables";
.navbar {
    width: 100%;
    height: auto;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;

    margin-bottom: 30px;
    @include layout-padding;
    @include desktop {
        align-items: center;
        height: 80px;
        flex-direction: row;
    }
    &__brand {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: $txt-dark;
        img {
            width: 30px;
        }
    }
    &__content {
        height: 100%;
        padding: 15px 0;
        &-menu {
            display: flex;
            align-items: center;
            justify-content: space-between;

            height: 100%;
            padding: 0 15px;
            gap: 10px;

            background: $white;
            border-radius: 10px;
            @include shadow();
            @include desktop {
                gap: 10px;
            }
            .item {
                list-style: none;
                a {
                    display: block;
                    width: 100%;
                    color: $txt-dark;
                    font-weight: 700;
                    text-decoration: none;
                    text-transform: capitalize;
                    transition: all ease-in-out 0.2s;
                    text-align: center;
                    @include font-Montserrat();
                    &:hover {
                        color: $blue;
                    }
                    @include desktop {
                    }
                }
                &__logout {
                    color: $txt-dark;
                    cursor: pointer;
                    font-weight: 700;
                    font-size: 16px;
                    text-decoration: none;
                    text-transform: capitalize;
                    transition: all ease-in-out 0.2s;
                    border: none;
                    background-color: none;
                    margin-left: 20px;
                    @include font-Montserrat();
                    &:hover {
                        color: $blue;
                    }
                }
            }
        }
    }
}
